header{
    border-bottom: .1px solid white;
    
    backdrop-filter: blur(10px);

    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: space-between;

    padding: 20px 40px;

    img{
        max-width: 100px;

        border: 3px white solid;
        border-radius: 50%;
        
        padding: 10px;

        background-color: rgba($color: gray, $alpha: .4);

        filter: drop-shadow(4px 5px 10px white)
                drop-shadow(-3px 5px 4px orangered);

    }

    nav{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        a{
            font-size: 28px;
            font-weight: bold;

            text-decoration: none;
            color: whitesmoke;

            border-radius: 10px 20px;

            padding: 20px;

            transition: ease-in-out .6s;

            border-inline: 3px solid transparent;

            &:hover{
                background-color: rgba($color: gray, $alpha: .2);
                text-shadow: 3px 3px 30px rgba(245, 245, 245, 0.56);
                border-inline: 3px solid white;
                transition: ease-in-out .6s;
                border-radius: 10px 60px;
            }
            
        }
    }
}

@media screen and (max-width: 768px){
    header{
        padding: 5px auto;
        img{
            display: none;
        }

        nav{
            a{
                font-size: 24px;
            }
        }
    }
}