:root{
    color: white;

    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 26px;
    }
    p, li{
        font-family: 'Razer';
    }
    p{
        font-size: 22px
    }
}

.home{
    .welcome-title{
        display: flex;
        justify-content: space-between;

        .welcome-text{
            .name{
                color: rgba($color: whitesmoke, $alpha: .7);
            }
        }

        img{
            max-width: 300px;
            
            border: 10px solid transparent;
            border-image-source: url('/src/assets/img/jpg/close-up-wood-texture.jpg');
            border-image-slice: 40;
        }
    }
    .about-section{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .about-card{
            padding: 20px;

            position: relative;

            backdrop-filter: blur(2px);
            background-color: rgba($color: grey, $alpha: .3);
            border: .1px solid white;

            border-radius: 25px;

            box-shadow: 3px 3px 10px rgba(255, 68, 0, 0.451);
        }
    }
}

@media screen and (width < 400px){
    .home{
        .welcome-title{
            flex-direction: column;
        }
    }
}