.main-container{
    display: flex;
    flex-direction: column;

    main{
        align-self: center;
        
        width: 100%;
        max-width: 80%;

        padding-bottom: 4vh;
    }

    footer{
        align-self: center;
        width: 100%;
        // max-width: 80%;
    }
}