.asideMeny{
    background-color: rgba(0, 96, 251, 0.439);

    min-height: 100vh;
    min-width: 16vw;
}

.asideNav{
    position: fixed;

    display: flex;
    flex-direction: column;

    padding: 40px;
}

.aside{
    color: whitesmoke;
    text-decoration: none;

    font-weight: bold;
    font-size: 20px;

    position: relative;
    margin: 50px 0;
}

