header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 30px 70px;
}

nav{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 50px;
}

.homeLink{
    color: #F0E6CC;
    font-size: 18px;
    font-weight: 700;

    font-family: 'Barlow';

    &:hover{
        color: #E8620A;
    }
}

.headerLink{
    color: #7A6A50;
    font-family: 'JetBrains Mono';
    font-size: 16px;

    &.active{
        color: #E8620A;
    }

    &:hover{
        color: #F0E6CC;
    }
}