@font-face {
  font-family: 'Hemico';
  src: url('/src/assets/fonts/HemicoGreekRegular.ttf');
}

@font-face{
  font-family: 'Razer';
  src: url('/src/assets/fonts/Razer/dehinted-RazerF5-Regular.ttf');
}

:root{
  font-family: 'Hemico';
  font-weight: lighter;
}

body{
  margin: 0;
  padding: 0;

  background-image: url('/src/assets/img/webp/orange-mountains.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@media screen and (width < 400px) {
  body{
    background-image: url('/src/assets/img/webp/orange-mountains(mobile).webp');
  }
}