.knowledge-list{
    display: flex;
    flex-flow: row wrap;

    gap: 50px;
    
    .knowledge-element{
        display: flex;
        flex-flow: column wrap;

        h3{
            font-size: 20px;
        }

        span{
            font-size: 20px;
            font-family: 'Razer';
        }
    }
}