.mask-container{
    position: relative;
    width: 100%;
    height: 100vh;

    .background-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: url('/src/assets/img/webp/lighthouse.webp');
        background-size: cover;
        background-position: center;
    }

    .mask-img{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, white, grey); /* Цвет переднего плана */
        
        /* Вырезаем отверстие в форме ромба (значения можно менять в Clippy) */
        clip-path: polygon(0 30%, 15% 35%, 30% 21%, 45% 42%, 60% 11%, 75% 30%, 92% 18%, 100% 60%, 100% 0, 0 0, 0 30%);
    }
}